<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>School</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <!-- ======================header started====================== -->
    
    <header>
        <div class="my-nav">
            <div class="container">
                <div class="row">
                    <div class="nav-items">
                        <div class="menu-toggle"></div>
                        <div class="logo">
                            <img class="hide-scrol" style="display:none;" src="assets/images/logo.png">
                            <img class="fixed-scrol" style="display:block;" src="assets/images/logo-01.png">
                        </div>
                        <div class="menu-items">
                            <div class="menu">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="abt-01">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="seting">
                        <h3>Blog</h3>
                        <ol>
                            <li>Home <i class="fas fa-chevron-double-right"></i></li>
                            <li>Blog</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ================**Blog Section**================ -->
    
    <section class="bg-04">
        <div class="container">
            <div class="row">
                <div class="heading">
                    <h2>our news</h2>
                    <span></span>
                </div>
    
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <article class="blog-sub">
                        <div class="blog-content">
                            <img src="assets/images/blog/img-02.jpg">
                        </div>
                        <div class="blog-content-section">
                            <div class="blo-content-title">
                                <h4>The National Minimum Wage Is An Important Part</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores
                                    aut praesentium
                                    facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in
                                    blanditiis, nemo fugit
                                    animi assumenda.</p>
                            </div>
                            <div class="blog-admin">
                                <ol>
                                    <li><i class="fal fa-user-tie"></i> By Admin</li>
                                    <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>
                                </ol>
                            </div>
                        </div>
                    </article>
                </div>
    
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <article class="blog-sub">
                        <div class="blog-content">
                            <img src="assets/images/blog/img-03.jpg">
                        </div>
                        <div class="blog-content-section">
                            <div class="blo-content-title">
                                <h4>The National Minimum Wage Is An Important Part</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores
                                    aut
                                    praesentium
                                    facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in
                                    blanditiis, nemo
                                    fugit
                                    animi assumenda.</p>
                            </div>
                            <div class="blog-admin">
                                <ol>
                                    <li><i class="fal fa-user-tie"></i> By Admin</li>
                                    <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>
                                </ol>
                            </div>
                        </div>
                    </article>
                </div>
    
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <article class="blog-sub">
                        <div class="blog-content">
                            <img src="assets/images/blog/img-01.jpg">
                        </div>
                        <div class="blog-content-section">
                            <div class="blo-content-title">
                                <h4>The National Minimum Wage Is An Important Part</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores
                                    aut
                                    praesentium
                                    facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in
                                    blanditiis, nemo
                                    fugit
                                    animi assumenda.</p>
                            </div>
                            <div class="blog-admin">
                                <ol>
                                    <li><i class="fal fa-user-tie"></i> By Admin</li>
                                    <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>
                                </ol>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <article class="blog-sub">
                        <div class="blog-content">
                            <img src="assets/images/blog/img-04.jpg">
                        </div>
                        <div class="blog-content-section">
                            <div class="blo-content-title">
                                <h4>The National Minimum Wage Is An Important Part</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores
                                    aut
                                    praesentium
                                    facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in
                                    blanditiis, nemo
                                    fugit
                                    animi assumenda.</p>
                            </div>
                            <div class="blog-admin">
                                <ol>
                                    <li><i class="fal fa-user-tie"></i> By Admin</li>
                                    <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>
                                </ol>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <article class="blog-sub">
                        <div class="blog-content">
                            <img src="assets/images/blog/img-05.jpg">
                        </div>
                        <div class="blog-content-section">
                            <div class="blo-content-title">
                                <h4>The National Minimum Wage Is An Important Part</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores
                                    aut
                                    praesentium
                                    facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in
                                    blanditiis, nemo
                                    fugit
                                    animi assumenda.</p>
                            </div>
                            <div class="blog-admin">
                                <ol>
                                    <li><i class="fal fa-user-tie"></i> By Admin</li>
                                    <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>
                                </ol>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <article class="blog-sub">
                        <div class="blog-content">
                            <img src="assets/images/blog/img-06.jpg">
                        </div>
                        <div class="blog-content-section">
                            <div class="blo-content-title">
                                <h4>The National Minimum Wage Is An Important Part</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores
                                    aut
                                    praesentium
                                    facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in
                                    blanditiis, nemo
                                    fugit
                                    animi assumenda.</p>
                            </div>
                            <div class="blog-admin">
                                <ol>
                                    <li><i class="fal fa-user-tie"></i> By Admin</li>
                                    <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>
                                </ol>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <!-- ================**Team Section**================ -->
    
    <section class="bg-03">
        <div class="container">
            <div class="row">
                <div class="heading">
                    <h2>our team</h2>
                    <span></span>
                </div>
    
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="team-main-box">
                        <img src="assets/images/team/2.jpg">
                        <div class="team-content-box">
                            <h3>James</h3>
                            <b>Designer</b>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="team-main-box">
                        <img src="assets/images/team/4.jpg">
                        <div class="team-content-box">
                            <h3>Smith</h3>
                            <b>Dveloper</b>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="team-main-box">
                        <img src="assets/images/team/3.jpg">
                        <div class="team-content-box">
                            <h3>Johnsy</h3>
                            <b>SEO</b>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="team-main-box">
                        <img src="assets/images/team/1.jpg">
                        <div class="team-content-box">
                            <h3>Albert</h3>
                            <b>Art Designer</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ================**Footer**================ -->
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="_kl_ds_we">
                        <div class="head-footer">
                            <img src="assets/images/logo-01.png">
                            <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            <ol>
                                <li><i class="fab fa-facebook-square"></i></li>
                                <li><i class="fab fa-instagram"></i></li>
                                <li><i class="fab fa-twitter-square"></i></li>
                                <li><i class="fab fa-linkedin"></i></li>
                            </ol>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="_kl_ds_we">
                        <div class="head-footer">
                            <h3>Services</h3>
                            <ul>
                                <li><i class="fas fa-chevron-right"></i>Development</li>
                                <li><i class="fas fa-chevron-right"></i>Busniess</li>
                                <li><i class="fas fa-chevron-right"></i>Accounting</li>
                                <li><i class="fas fa-chevron-right"></i>Arts & Design</li>
                                <li><i class="fas fa-chevron-right"></i>Marketing</li>
                            </ul>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="_kl_ds_we">
                        <div class="head-footer">
                            <h3>Quick links</h3>
                            <ul>
                                <li><i class="fas fa-chevron-right"></i>Home</li>
                                <li><i class="fas fa-chevron-right"></i>About Us</li>
                                <li><i class="fas fa-chevron-right"></i>Services</li>
                                <li><i class="fas fa-chevron-right"></i>Blog</li>
                                <li><i class="fas fa-chevron-right"></i>Contact Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="_kl_ds_we">
                        <div class="head-footer">
                            <h3>find us</h3>
                            <ul class="un-hover">
                                <li><i class="far fa-location"></i>Marthandam</li>
                                <li><i class="fas fa-mobile-alt"></i>+91 9751791203</li>
                                <li><i class="far fa-envelope"></i>sales@smarteyeapps.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row _pl_we_sq">
                        <div class="col-12">
                            <div class="last-01">
                                <p>2020 @ All Rights Reserved Designed and developed by<a
                                        href="https://www.smarteyeapps.com/">SmarteyeTechnologies</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
</body>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>
</html>